<header>
    <h1></h1>
  </header>
  <section>
    <a nz-dropdown [nzDropdownMenu]="menu">
       地区
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li *ngFor="let item of province" nz-menu-item>{{item.name}}</li>
      </ul>
    </nz-dropdown-menu>
    <a nz-dropdown [nzDropdownMenu]="menu2">
      年纪
     <i nz-icon nzType="down"></i>
   </a>
   <nz-dropdown-menu #menu2="nzDropdownMenu">
     <ul nz-menu nzSelectable>
       <li *ngFor="let item of age" nz-menu-item>{{item.range}}</li>
     </ul>
   </nz-dropdown-menu>
   <input style="width: 100px;" nz-input placeholder="name" [(ngModel)]="value" />
   <button nz-button nzType="primary">搜索</button>
  </section>
  <section>
    
    <ul>
      <li *ngFor="let item of caseInfo">
        <h2>{{item.title}}</h2>
        <img [src]="item.img" width = "100px" height = "100px">
        <span>
          {{item.description}}
        </span>
      </li>
    </ul>
  </section>